Redirect 301 "/2020/01/19/lets-build-a-file-encrypter-with-python" "/lets-build-a-file-encrypter-with-python"
Redirect 301 "/2020/01/13/styling-your-first-webpage-with-css" "/styling-your-first-webpage-with-css"
Redirect 301 "/2019/10/02/when-the-keyboard-and-mouse-are-not-enough" "/when-the-keyboard-and-mouse-are-not-enough"
Redirect 301 "/2019/09/25/your-first-webpage-with-html-and-netlify" "/your-first-webpage-with-html-and-netlify"
Redirect 301 "/2019/09/23/booting-up" "/booting-up"